@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}


#profile-progress {
  border: 1em solid white;
  border-right-color: #ff7a7a;
  border-top-color: #ff7a7a;
  border-bottom-color: #ff7a7a;
  animation: thickening 1s 0.5s linear normal;
  border-left-color: white;
  border-radius: 50%;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar {
  height: 4px;
  width: 3px;
  background-color: rgb(255, 255, 255);
}

*::-webkit-scrollbar-thumb {
  background-color: #ff7a7a;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.my-element::-webkit-scrollbar {
  display: none;
}
.my-element {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}